.bgimgg{
    top: 6985px;
left: 0px;
width: 1920px;
height: 1367px;
background: #0E77FF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 0.02;
position: absolute;

}

.t74{
    top: 7809px;
left: 740px;
width: 445px;
height: 68px;
text-align: left;
font: normal normal 300 16px/30px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
position: absolute;
}

.t71{
    top: 7756px;
    left: 180px;
    width: 253px;
    height: 33px;
    text-align: left;
    font: normal normal medium 24px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: absolute; 
}

.t72{
   position: absolute;
   top: 7809px;
left: 180px;
width: 445px;
height: 68px;
text-align: left;
font: normal normal 300 16px/30px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1; 
}

.t73{
    top: 7756px;
    left: 740px;
    width: 253px;
    height: 33px;
    text-align: left;
    font: normal normal medium 24px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: absolute; 
}

.t75{
    top: 7756px;
    left: 1300px;
    width: 253px;
    height: 33px;
    text-align: left;
    font: normal normal medium 24px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: absolute; 
}

.t76{
    top: 7809px;
    left: 1300px;
    width: 445px;
    height: 68px;
    text-align: left;
    font: normal normal 300 16px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;  
    position: absolute;
}

.cas{
    top: 7185px;
left: 828px;
width: 265px;
height: 56px;
text-align: left;
font: normal normal 600 40px/50px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
position: absolute;
}

.lor{
    top: 7260px;
    left: 520px;
    width: 881px;
    height: 94px;
    text-align: center;
    font: normal normal 300 18px/32px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: absolute;
}

.box1{
   position: absolute;
   top: 7594px;
left: 140px;
width: 519px;
height: 350px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1; 
}

.box2{
position: absolute;
top: 7594px;
left: 700px;
width: 519px;
height: 350px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 40px #0E77FF26;
border-radius: 10px;
opacity: 1;
}

.box3{
   position: absolute;
   top: 7594px;
left: 1260px;
width: 519px;
height: 350px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1; 
}

.vie{
    top: 8029px;
left: 841px;
width: 239px;
height: 72px;
border: 2px solid #0E77FF;
border-radius: 35px;
opacity: 1;
position: absolute;
}

.view{
    top: 8050px;
left: 912px;
width: 95px;
height: 31px;
text-align: left;
font: normal normal normal 25px/31px Muli;
letter-spacing: 0px;
color: #0E77FF;
opacity: 1;
position: absolute;
}

.pd71{
    
    top: 7410px;
left: 140px;
width: 519px;
height: 305px;
background: transparent 0% 0% no-repeat padding-box;
border-radius: 10px 10px 0px 0px;
opacity: 1;
position: absolute;
}

.pd72{
    top: 7417px;
    left: 700px;
    width: 519px;
    height: 298px;
    background: transparent 0% 0% no-repeat padding-box;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    position: absolute; 
}

.pd73{
    top: 7412px;
    left: 1260px;
    width: 519px;
    height: 305px;
    background: transparent 0% 0% no-repeat padding-box;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    position: absolute;  
}

.pd74{
    top: 6693px;
    left: 1634px;
    width: 572px;
    height: 572px;
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1; 
    position: absolute;
}

.bird{
    top: 7385px;
left: 0px;
width: 1920px;
height: 800px;
opacity: 1;
position: absolute;
}

.rm1{
    top: 7885px;
left: 197px;
width: 107px;
height: 28px;
text-align: left;
font: normal normal normal 20px/47px Poppins;
letter-spacing: 0px;
color: #0E77FF;
opacity: 1;
position: absolute;
}

.rm2{
    top: 7885px;
    left: 757px;
    width: 107px;
    height: 28px;
    text-align: left;
    font: normal normal normal 20px/47px Poppins;
    letter-spacing: 0px;
    color: #0E77FF;
    opacity: 1;
position: absolute;
}

.rm3{
    top: 7885px;
    left: 1317px;
    width: 107px;
    height: 28px;
    text-align: left;
    font: normal normal normal 20px/47px Poppins;
    letter-spacing: 0px;
    color: #0E77FF;
    opacity: 1;
position: absolute;
}