.App {
  text-align: center;
  position: fixed; 
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
.roc{
  margin-top: 325px;
  width: 100%;
  height: 650px;
  position: fixed;
}

.logo{
  list-style: none;
  top: 75px;
  left: 270px;
  width: 60px;
  height: 35px;
  background-color: none;
  text-align: left;
  font: normal normal normal 25px/38px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  position: fixed;
}

.about{
  top: 80px;
left: 754px;
width: 54px;
height: 25px;
text-align: left;
font: normal normal normal 18px/27px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
  position: fixed;
}

.test{
  top: 80px;
left: 1119px;
width: 113px;
height: 25px;
text-align: left;
font: normal normal normal 18px/27px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
  position: fixed;
}
.contact{
  top: 80px;
left: 1272px;
width: 73px;
height: 25px;
text-align: left;
font: normal normal normal 18px/27px Poppins;
letter-spacing: 0px;
color: #ffffff;
opacity: 1;
position: fixed;
}

.login{
  border: none;
  border-radius: 5px;
  background-color: white;
top: 71px;
left: 1380px;
width: 125px;
height: 42px;
text-align: center;
letter-spacing: 0px;
color: #000000;
opacity: 1;
position: fixed;
}
.services{
  top: 80px;
left: 854px;
width: 74px;
height: 25px;
text-align: left;
font: normal normal normal 18px/27px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
  position: fixed;
}
.case{
  top: 80px;
left: 963px;
width: 117px;
height: 25px;
text-align: left;
font: normal normal normal 18px/27px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
  position: fixed;
}

.get{

top: 575px;
left: 225px;
width: 160px;
height: 50px;
text-align: center;
font: normal normal normal 25px/31px Muli;
letter-spacing: 0px;
color: #000000;
opacity: 1;
position: fixed;
border-radius: 25px;
}

.web{
  margin-top: 270px;
  margin-left: 226px;
  width: 460px;
  height: 160px;
  opacity: 1;
  position: fixed;
}
.web2{
  top: 465px;
left: 225px;
width: 630px;
height: 65px;
opacity: 1;
position: fixed;
}
.cir{
  margin-top: 460px;
  width: 60px;
  margin-left: 1155px;
  height: 60px;
  position: fixed;
}

.tri{
  margin-top: 180px;
  width: 250px;
  margin-left: 1120px;
  height: 250px;
  position: fixed;
}
/*
.tri1{
  margin-top: 700px;
  width: 110px;
  margin-left: 1500px;
  height: 110px;
  position: fixed;
}

.tri3{
  margin-top: 400px;
  width: 225px;
  margin-left: 1675px;
  height: 225px;
  position: fixed;
}

.tri2{
  margin-top: 525px;
  width: 75px;
  margin-left: 1550px;
  height: 75px;
  position: fixed;
}

.tri22{
  margin-top: 400px;
  width: 75px;
  margin-left: 1000px;
  height: 75px;
  position: fixed;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
